/*F O O T E R*/
footer {
    background: #363740;
    color:white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.column1,  .column2, .column3 {
    padding: 8px;
}
/*C O L U M N  1*/
.column1 {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 4px;
 }

.column1 a:hover { text-decoration: underline;
}

/*C O L U M N  2*/
.column2 {
    flex-basis: 50%;

}
.column2 p {
    text-align: center;
    width: 100%;
}
.column2 h3 {
    text-align: center;
}
/*C O L U M N 3*/
.column3 {
    flex-basis: 20%;
    display: block;
    position: relative;
}
.column3 h3 {
    text-align: center;
}
.column3 img {
     width:30px;
}
.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 576px) {

    .column1, .column2, .column3 {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .column1 {
        align-items: center;
    }

    .column2 {
        margin: auto;
    }

    .column2 p {
        width: 65%;
        margin: auto;
    }

    .social-media {
        margin-top: 1px;
        justify-content: center;
    }

}
